.wrapper{
    display: flex;
    flex-direction: column;
    
    padding: 2rem;
}
.wrapper a{
    color: white;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}
.wrapper a:hover, a:focus{
    color: gold;
}

.logo img{
    width: 200px;
}

@media only screen and (max-width: 600px) {
    .logo img{
        width: 100px;
    }
  }